nav{
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);
}
.bgcolor{
    background-color:  #0d0d0d;
}
.link1 {
    transition: 0.2s ease;
    background: #0d0d0d;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
  }
  .link1:hover {
    /* border-top: 1px solid #ffffff; */
    border-bottom: 1px solid #ffffff;
    padding: 6px 0; 
    font-size: 22px;
  }
