nav{
    box-shadow: 2px 2px 5px rgb(41, 36, 42,1.9);
}

.link1 {
    transition: 0.2s ease;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
  }
  .link1:hover {
    /* border-top: 1px solid #ffffff; */
    border-bottom: 1px solid #ffffff;
    padding: 6px 0; 
    font-size: 22px;
  }
