.containerAbout{
    background-color:rgb(0,0,0,0.6);
    /* opacity: 0.5; */
    border-radius: 10px;
    /* border-left-color: #6B605C; */
    /* border-left-color: black; */
    border-style: solid;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    height: 50vh;
    /* border-right-color: #6B605C; */
    border-right-color: black;
    border-top-color: black;
    border-bottom-color: black;
    box-shadow: 5px 5px 5px rgb(41, 36, 42,1.9);
    color: white;
}
/* .outerDiv{
    background: url("./image120.jpg");
    background-position:top;
    background-size: cover;
    width: 100%;
    height: auto;
  } */