.descriptionClass{
    background-color:rgb(0,0,0,0.6);
    /* opacity: 0.5; */
    border-radius: 10px;
    /* border-left-color: #6B605C; */
    /* border-left-color: black; */
    border-style: solid;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    height:fit-content;
    /* border-right-color: #6B605C; */
    border-right-color: black;
    border-top-color: black;
    border-bottom-color: black;
    box-shadow: 5px 5px 5px rgb(41, 36, 42,1.9);
    color: white;
}
:-moz-any-link:focus {
    outline: none;
  }

.imgClass{
    width: 100%;
    height: 150px;
}

.MobileimgClass{
    width: 50%;
    height:100px;
}
.demoClass{
    width: 100%;
    height: 45px;
    padding-top: 5px;
    margin-top: 5px;
    border-radius: 10px;
    color: white;
    background-color:rgb(0,0,0,0.6);
    box-shadow: 5px 5px 5px rgb(41, 36, 42,1.9);
}
.btn:hover {
    color: white;
    text-decoration: none;
}
.mobileDescriptionClass{
    background-color:rgb(0,0,0,0.6);
    /* opacity: 0.5; */
    border-radius: 10px;
    /* border-left-color: #6B605C; */
    /* border-left-color: black; */
    border-style: solid;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    /* border-right-color: #6B605C; */
    border-right-color: black;
    border-left-color: black;
    border-bottom-color: black;
    box-shadow: 5px 5px 5px rgb(41, 36, 42,1.9);
    color: white;
}
.linkClass{
   float: left;

}
.linkClassMobile a :hover{
   color: white;
}
.demoClassMobile button{
    border-radius: 10px;
    background-color: rgb(0,0,0,0.6);
    color: white;
}
