.imageClass{
    /* box-shadow: 2px 2px 8px rgba(255, 255, 255, 2.0); */
    border-style: solid;
    border-color:  white;
    border-width: 9px;
    padding: 10px;
    
}
.nameStyle{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.containerObjective{
    background-color:rgb(0,0,0,0.6);
    /* opacity: 0.5; */
    border-radius: 10px;
    /* border-left-color: #6B605C; */
    /* border-left-color: black; */
    border-style: solid;
    font-size: 20px;
    /* font-weight: 300; */
    margin-bottom: 50px;
    /* border-right-width: 1px; */
    border-top-width: 1px;
    border-bottom-width: 1px;
    height: fit-content;
    /* border-right-color: #6B605C; */
    /* border-right-color: black; */
    border-top-color: black;
    border-bottom-color: black;
    box-shadow: 9px 5px 9px rgb(41, 36, 42,1.9);
    color: white;
}